//Global elements
html
    box-sizing: border-box
body
    font-family: $mainFont
*,
*::after,
*::before
    box-sizing: inherit


//Global classes
.wrapper
    width: 1024px
    margin: 0 auto

.btn
    display: inline-block